@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

html{
  height: 100%;
  font-size: 62.5%;
}

body{
  height: 100%;
  background: rgb(0,0,63);
  background: radial-gradient(circle, rgba(0,0,63,1) 35%, rgba(0,0,0,1) 100%);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#homepage{
  width: 100%;
  height: 55%;
  /* background-color: aliceblue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  opacity: 0;
}

#player-name-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 50%;
  height: 50%;
  /* background-color: aqua; */
  font-size: 2rem;
  color: #DDDDDD;
}

#logo{
  position: absolute;
  top: -70px;
}

#player-name{
  width: 250px;
  height: 55px;
  font-size: 2rem;
  box-sizing: border-box;
  padding-left: 10px;
  padding-bottom: 5px;
  border: none;
  border-radius: 5px;
}

button{
  width: 150px;
  height: 70px;
  font-size: 2rem;
  border: none;
  border-radius: 5px;
}

button:hover{
  filter: brightness(80%);
  cursor: pointer;
}

#name-req
{
  font-size: 0;
  color: rgb(212, 17, 17);
}

legend{
  font-size: 4rem;
  color: #DDDDDD;
}

#placement-page{
  visibility: hidden;
  background-color: transparent;
  width: 50%;
  height: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  top: 100px;
}

#axis-btn{
  width: 100px;
  height: 50px;
}

#fields-table{
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: auto;
  gap: 2px;
  background-color: transparent;
}

.field{
  width: 46px;
  height: 46px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 2px;
}

.available, .unavailable{
  transition: 0.3s ease-in-out;
}

.available:hover{
  background-color: #b8b7b7;
  cursor: pointer;
}

.unavailable:hover{
  background-color: #c51e1e;
  cursor: not-allowed;
}
