@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
* {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

html{
  height: 100%;
  font-size: 62.5%;
}

body{
  height: 100%;
  background: rgb(0,0,63);
  background: radial-gradient(circle, rgba(0,0,63,1) 35%, rgba(0,0,0,1) 100%);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
}

h1{
  width: 500px;
  color: white;
  font-size: 3rem;
  text-wrap: nowrap;
  text-align: center;
}

h2{
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  color: white;
}

#orders-results{
  width: 800px;
  height: 0px;
  position: absolute;
  border: 1px solid white;
  border-radius: 15px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#orders-results-txt
{

}

#waters-txt{
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  gap: 100px;
  justify-content: space-evenly;
  position: relative;
  top: 0px;
  visibility: hidden;
}

#homepage{
  width: 100%;
  height: 55%;
  /* background-color: aliceblue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  opacity: 0;
}

#player-name-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 50%;
  height: 50%;
  /* background-color: aqua; */
  font-size: 2rem;
  color: #DDDDDD;
}

#logo{
  position: absolute;
  top: -70px;
}

#player-name{
  width: 250px;
  height: 55px;
  font-size: 2rem;
  box-sizing: border-box;
  padding-left: 10px;
  padding-bottom: 5px;
  border: none;
  border-radius: 5px;
}

button{
  width: 150px;
  height: 70px;
  font-size: 2rem;
  border: none;
  border-radius: 5px;
}

button:hover{
  filter: brightness(80%);
  cursor: pointer;
}

#name-req
{
  font-size: 0;
  color: rgb(212, 17, 17);
}

legend{
  font-size: 4rem;
  color: #DDDDDD;
}

#placement-page{
  opacity: 0;
  pointer-events: none;
  background-color: transparent;
  width: 50%;
  height: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  top: 80px;
}

#axis-btn{
  width: 100px;
  height: 50px;
}

#both-fields{
  width: auto;
  height: auto;
  display: flex;
}

#fields-table, #fields-table-ai{
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: auto;
  gap: 2px;
  background-color: transparent;
}

#fields-table-ai{
  position: absolute;
  top: -10000px;
  visibility: hidden;
  width: 0px;
  height: 0px;
}

.field, .fields-ai{
  width: 46px;
  height: 46px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 2px;
  position: relative;
  transition: 0.3s ease-in-out;
}

/* .available, .unavailable{
  transition: 0.3s ease-in-out;
} */

.available:hover{
  background-color: #b8b7b7;
  cursor: pointer;
}

.unavailable:hover{
  background-color: #c51e1e;
  cursor: not-allowed;
}

.hit, .no_hit{
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: red;
  position: absolute;
  z-index: 1;
  top: calc(50% - 7.5px);
  right: calc(50% - 7.5px);
}

.no_hit{
  background-color: white;
}

.carrierx{
  width: 240px;
  height: 35px;
  box-sizing: border-box;
  position: relative;
  left: 7px;
  bottom: -5px;
  filter: invert(81%) sepia(70%) saturate(6220%) hue-rotate(192deg) brightness(100%) contrast(91%);
  opacity: 0.75;
}

.carriery{
  width: 240px;
  height: 35px;
  rotate: 90deg;
  position: relative;
  left: -97px;
  bottom: -105px;
  filter: invert(81%) sepia(70%) saturate(6220%) hue-rotate(192deg) brightness(100%) contrast(91%);
  opacity: 0.75;
}

.battleshipx{
  width: 192px;
  height: 35px;
  box-sizing: border-box;
  position: relative;
  filter: invert(81%) sepia(70%) saturate(6220%) hue-rotate(192deg) brightness(100%) contrast(91%);
  opacity: 0.75;
  left: 4px;
  bottom: -5px;
}


.battleshipy{
  width: 192px;
  height: 35px;
  rotate: 90deg;
  box-sizing: border-box;
  position: relative;
  left: -73px;
  bottom: -80px;
  filter: invert(81%) sepia(70%) saturate(6220%) hue-rotate(192deg) brightness(100%) contrast(91%);
  opacity: 0.75;
}

.destroyerx{
  width: 145px;
  height: 35px;
  box-sizing: border-box;
  position: relative;
  filter: invert(81%) sepia(70%) saturate(6220%) hue-rotate(192deg) brightness(100%) contrast(91%);
  opacity: 0.75;
  left: 4px;
  bottom: -5px;
}


.destroyery{
  width: 145px;
  height: 35px;
  rotate: 90deg;
  box-sizing: border-box;
  position: relative;
  left: -50px;
  bottom: -58px;
  filter: invert(81%) sepia(70%) saturate(6220%) hue-rotate(192deg) brightness(100%) contrast(91%);
  opacity: 0.75;
}

.submarinex{
  width: 140px;
  height: 35px;
  box-sizing: border-box;
  position: relative;
  filter: invert(81%) sepia(70%) saturate(6220%) hue-rotate(192deg) brightness(100%) contrast(91%);
  opacity: 0.75;
  left: 4px;
  bottom: -5px;
}


.submariney{
  width: 140px;
  height: 35px;
  rotate: 90deg;
  box-sizing: border-box;
  position: relative;
  left: -48px;
  bottom: -58px;
  filter: invert(81%) sepia(70%) saturate(6220%) hue-rotate(192deg) brightness(100%) contrast(91%);
  opacity: 0.75;
}

.patrol_boatx{
  width: 90px;
  height: 35px;
  box-sizing: border-box;
  position: relative;
  filter: invert(81%) sepia(70%) saturate(6220%) hue-rotate(192deg) brightness(100%) contrast(91%);
  opacity: 0.75;
  left: 4px;
  bottom: -5px;
}


.patrol_boaty{
  width: 90px;
  height: 35px;
  rotate: 90deg;
  box-sizing: border-box;
  position: relative;
  left: -22px;
  bottom: -32px;
  filter: invert(81%) sepia(70%) saturate(6220%) hue-rotate(192deg) brightness(100%) contrast(91%);
  opacity: 0.75;
}

#winner-screen{
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#winner-text{
  font-family: "Oswald", sans-serif;
}